@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
  --ff-primary: -apple-system, Roboto, Avenir, Helvetica, Arial, sans-serif;

  --fs-xl: clamp(3.5rem, 12vw + 1rem, 5.25rem); /* extra large text like hero section headingg title */
  --fs-300: 1.25rem; /* for heading 2 tiles oe below */
  --fs-200: 1rem; /* for regular body text / paragraph text */

  --clr-primary: #fff;
  --clr-primary-light: #c4ced9;
  --clr-primary-light-blue: #82c6fb;
  --clr-netrual-grayish-blue: #4e5d73;
  --clr-netrual-dark-grayish-blue:  #323a49;
  --clr-netrual-dark-blue:#1e2632;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, 
:after,
:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: var(--ff-primary)  !important;
  background-color: var(--clr-netrual-dark-blue);
  color: var(--clr-primary-light) !important;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.container {
  width: min(90%, 45rem);
  margin: 0 auto; /* centers the section/  div in the middle of the browser */
}

.sec--pad{
  padding-bottom: 100px;
}

@media screen and (min-width: 40em) {
  .sec--pad{
    padding-bottom: 200px;
  }
}

.heading-sec{ 
  color:   var(--clr-primary);;
  font-size: 1.5rem;
  font-weight: 400 !important;
  padding-bottom: 10px;
  }

@media screen and (min-width: 40em) {
  .heading-sec{
    font-size: 2rem;
    padding-bottom: 20px;
  }
}

/* NAV BAR */

.navbar-sec{
  padding-bottom: 60px;
}

.nav__content{
  position: fixed; 
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:var(--fs-200);
  font-family: var(--ff-primary);
  font-weight: 300;
  padding-block: 20px;
  color: var(--clr-primary-light-blue);
  background-color: var(--clr-netrual-dark-blue);
}

.nav__btn{
  font-size:  var(--fs-200) !important;
  font-weight: 300 !important;
  color: var(--clr-primary-light-blue) !important;
}

.nav__btn:hover{
  background: var(--clr-netrual-dark-grayish-blue) !important;
}

/* HERO SEC */
.hero-sec{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 100vh; 
}

.hero-heading{
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 80px;
  padding-block: 20px;;
}

@media screen and (min-width: 40em) {
  .hero-heading{
    font-size: 6rem;
    font-weight: 700;
    line-height: 144px;
    padding-block: 30px;
  }
}

.hero-heading-sub{
  font-size:1rem;
}

@media screen and (min-width: 40em) {
  .hero-heading-sub{
    font-size:1.6rem;
  }
}

.hero__btns{
  padding-top: 60px;
}

.hero__socials{
  display: flex;
  grid-gap: 30px;
  padding-top: 60px;
}

.hero__social{
font-size: 1rem;
}

@media screen and (min-width: 40em) {
  .hero__social{
    font-size: 1.5rem;
    }
}

.hero__social:hover{
  color: #fff;
  }



/* CARD SECTION */
.card{
  background-color: var(--clr-netrual-dark-blue);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 45px;
}

@media screen and (min-width: 40em) {
  .card{
    flex-direction: row;
    text-align: left;
    padding-bottom: 36px;
  }
  /* .card > *{
    flex: 1;
  } */
}

.card__image{
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

@media screen and (min-width: 40em) {
  .card__figure{
    position: relative;
    padding-bottom: 100%;
    width: 22rem;
    height: 23rem;
  } 
  .card__image{
    object-fit: cover; 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
  }
}

.card-textbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #323a49;
  padding: 0 30px 20px 30px;
  border-radius: 0 0 5px 5px;
  margin-top:-6px;
}

@media screen and (min-width: 40em) {
  .card-textbox{ 
    border-radius: 0 5px 5px 0;
    margin-top: 0;
    padding-top: 10px;
  }
}

.card-textbox__country{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  padding-block: 15px;
}

@media screen and (min-width: 40em) {
  .card-textbox__country{
    font-size: 1rem;
    justify-content: space-between;
    padding-block: 0;
  }
}

.card__location--country{
  color: rgba(255, 255, 255, 0.667);
  text-transform: uppercase;
  padding-left: 4px;
  padding-right: 12px;
  line-height: 12px;
  letter-spacing: 0.17em;
}

.card__location--link{
  line-height: 12px;
  text-decoration-line: underline;
  color:  rgba(255, 255, 255, 0.667);
}

.card__location--link--pad{
  padding-right: 7px;
}

.card__location--link:hover{
  color:#ffffff
}

.card__title{
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 40px;
  padding-bottom: 20px;
  /* color: var(--clr-primary-light); */
  color: var(--clr-primary-light-blue);
}

@media screen and (min-width: 40em) {
  .card__title{
    font-size: 1.5rem;
    padding-bottom: 30px;
  }
}

.card__description{
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 150%; 
  color: var(--clr-primary-light);
  padding-bottom: 20px;
}

@media screen and (min-width: 40em) {
  .card__description{
    font-size: 1.2rem;
    padding-bottom: 30px;
  }
}

.projects__tools-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  color: var(--clr-primary-light);
}

@media screen and (min-width: 40em) {
  .projects__tools-list{
    justify-content: flex-start; 
  }
}

.projects__tools-item{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(74, 83, 99);
}

/* ABOUT ME SECTION */

.about-me-sec{
  padding-bottom: 128px;
  color: var(--clr-primary-light);
}

.about-me__box{
  display: flex;
  flex-direction: column;
  grid-gap: 3rem;
}

@media screen and (min-width: 40em) {
  .about-me__box{
    flex-direction: row;
  }
  .about-me__box> *{
    flex: 1;
  } 
}

.about-me__subtitle{
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--clr-primary);
  padding-bottom: 10px;
}

@media screen and (min-width: 40em) {
  .about-me__subtitle{
    font-size: 1.5rem;
  } 
}

.solve-problems{
  color: var(--clr-primary-light-blue);
}

.about-me__tech-stack-list{
  display: flex;
  grid-gap:90px;
}

@media screen and (min-width: 40em) {
  .about-me__tech-stack-list{
    display: flex;
    grid-gap: 100px;
  }
}

.about-me__tech-stack-list > ul{
  list-style: none;
}

.about-me__tech-stack-list > ul > li{
  padding-bottom: 50px;
}

.about-me__tech-stack-list > ul > li> ion-icon{
  vertical-align: middle;
  font-size:1.5rem;
  color: var(--clr-primary-light-blue);
}


/* CONTACT SECTION */
.contact-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.contact__btns{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.contact__para{
  color: #cbd5e0;
  text-align: center;
  font-size:var(--fs-200);
}